body {
    margin: 0;
}

.content {
    text-align: center;
    font-family:'Open Sans', sans-serif;
        margin-left: 0px;
    margin-right: 0px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 0px;
}


h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}


h3 {
    font-family: 'Oswald', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: gray;
}

a:visited {
    color: gray;
}

a:hover{
    color: black;
}

p {
    text-align: justify;
}

nav {
    margin-top: 0px;
    padding-left: 185px;
}
nav ul {
    margin-top: 0px;
    height: 40;
}

nav ul li {
    margin-top: 0px;
    font-weight: 900;
    color: gray;
    float:left;
    padding: 10;
}

nav ul li:hover {
    color: black;
    cursor: pointer;
}

.section {
    margin-left: 0px;
    margin-right: 0px;
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.section-content {
    margin: auto;
    width: 750px;
    padding-left: 20px;
    padding-right: 20px;
}

a[ id= "contact" ]:target ~ .content article.section {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}

a[ id= "getinvolved" ]:target ~ .content article.section {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}

a[ id= "whoweare" ]:target ~ .content article.section {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}

a[ id= "whatwedo" ]:target ~ .content article.section {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}

a[ id= "materials" ]:target ~ .content article.section {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}


